
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.IntroDigital_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_4 */
.IntroDigital_mobilegrid_4 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.IntroDigital_mobilegrid_4_wrapper {

}
.IntroDigital_mobilegrid_4 > tr > td {
	vertical-align: top;
}
.IntroDigital_mobilegrid_4_row_0, .IntroDigital_mobilegrid_4_row_0 > td {
	height: 30px
}
/* mobilegridcell_5 */
.IntroDigital_mobilegridcell_5 {
	height:30px !important;
	width:111px;
	padding: 2px 2px 2px 2px;
}
.IntroDigital_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_2 */
.IntroDigital_mobileimage_2 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_6 */
.IntroDigital_mobilegridcell_6 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.IntroDigital_mobilegridcell_6 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spacer_10 */
.IntroDigital_spacer_10 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_3 */
.IntroDigital_mobilelabel_3 {
	text-decoration: underline; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_11 */
.IntroDigital_mobilelabel_11 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_14 */
.IntroDigital_mobilelabel_14 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_12 */
.IntroDigital_mobilelabel_12 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_13 */
.IntroDigital_mobilelabel_13 {
	text-decoration: underline; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_23 */
.IntroDigital_spacer_23 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilegrid_15 */
.IntroDigital_mobilegrid_15 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.IntroDigital_mobilegrid_15_wrapper {

}
.IntroDigital_mobilegrid_15 > tr > td {
	vertical-align: top;
}
.IntroDigital_mobilegrid_15_row_0, .IntroDigital_mobilegrid_15_row_0 > td {
	height: 30px
}
/* mobilegridcell_16 */
.IntroDigital_mobilegridcell_16 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.IntroDigital_mobilegridcell_16 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_20 */
.IntroDigital_mobileimage_20 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_17 */
.IntroDigital_mobilegridcell_17 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.IntroDigital_mobilegridcell_17 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spacer_22 */
.IntroDigital_spacer_22 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_21 */
.IntroDigital_mobilelabel_21 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_24 */
.IntroDigital_mobilelabel_24 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_25 */
.IntroDigital_mobilelabel_25 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_26 */
.IntroDigital_mobilelabel_26 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 8px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_27 */
.IntroDigital_mobilelabel_27 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.IntroDigital_mobilefooter {
	min-height:38px;
}