
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilenavbar_6 */
.oct10_mobilenavbar_6 {

}
.oct10_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .oct10_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .oct10_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.oct10_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* mobilecontainer1 */
.ui-content.oct10_mobilecontainer1 {
	padding: 10px 2px 10px 2px;
}
/* mobilelabel_11 */
.oct10_mobilelabel_11 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #2414de; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobileimage_25 */
.oct10_mobileimage_25 {
	margin: 4px 0px 4px 0px;
	width: 100%; height: 100px;
	display: block;
}
/* mobilecollapsibleset_15 */
.oct10_mobilecollapsibleset_15 {
	margin: 8px 5px 8px 5px;
}
/* mobilecollapsblock_16 */
.oct10_mobilecollapsblock_16 {

}
.oct10_mobilecollapsblock_16 .ui-collapsible-content {
	padding: 4px 4px 4px 4px;
}
/* mobilecollapsblock_26 */
.oct10_mobilecollapsblock_26 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_26 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* googlemap_29 */
.oct10_googlemap_29 {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_30 */
.oct10_marker_30 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilecollapsblock_31_157 */
.oct10_mobilecollapsblock_31_157 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_157 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_160 */
.oct10_mobilegrid_34_160 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_160_wrapper {

}
.oct10_mobilegrid_34_160 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_160_row_0, .oct10_mobilegrid_34_160_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_160_row_1, .oct10_mobilegrid_34_160_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_161 */
.oct10_mobilegridcell_35_161 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_161 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_162 */
.oct10_mobilelabel_39_162 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_163 */
.oct10_mobilegridcell_36_163 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_163 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_164 */
.oct10_mobilelabel_41_164 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_165 */
.oct10_mobilegridcell_37_165 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_165 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_166 */
.oct10_mobilelabel_40_166 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_167 */
.oct10_mobilegridcell_38_167 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_167 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_168 */
.oct10_mobilelabel_42_168 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_170 */
.oct10_mobilelabel_170 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4254b3; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_57 */
.oct10_mobilelabel_57 {
	text-decoration: underline; font-weight: bold; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_31_45 */
.oct10_mobilecollapsblock_31_45 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_45 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_48 */
.oct10_mobilegrid_34_48 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_48_wrapper {

}
.oct10_mobilegrid_34_48 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_48_row_0, .oct10_mobilegrid_34_48_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_48_row_1, .oct10_mobilegrid_34_48_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_49 */
.oct10_mobilegridcell_35_49 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_49 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_50 */
.oct10_mobilelabel_39_50 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_51 */
.oct10_mobilegridcell_36_51 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_51 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_52 */
.oct10_mobilelabel_41_52 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_53 */
.oct10_mobilegridcell_37_53 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_53 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_54 */
.oct10_mobilelabel_40_54 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_55 */
.oct10_mobilegridcell_38_55 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_55 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_56 */
.oct10_mobilelabel_42_56 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_171 */
.oct10_mobilelabel_171 {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: center; font-family: Helvetica; font-size: 17px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_19 */
.oct10_mobilecollapsblock_19 {

}
.oct10_mobilecollapsblock_19 .ui-collapsible-content {
	padding: 4px 4px 4px 4px;
}
/* mobilecollapsblock_31_87 */
.oct10_mobilecollapsblock_31_87 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_87 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_90 */
.oct10_mobilegrid_34_90 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_90_wrapper {

}
.oct10_mobilegrid_34_90 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_90_row_0, .oct10_mobilegrid_34_90_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_90_row_1, .oct10_mobilegrid_34_90_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_91 */
.oct10_mobilegridcell_35_91 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_91 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_92 */
.oct10_mobilelabel_39_92 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_93 */
.oct10_mobilegridcell_36_93 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_93 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_94 */
.oct10_mobilelabel_41_94 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_95 */
.oct10_mobilegridcell_37_95 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_95 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_96 */
.oct10_mobilelabel_40_96 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_97 */
.oct10_mobilegridcell_38_97 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_97 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_98 */
.oct10_mobilelabel_42_98 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_31_100 */
.oct10_mobilecollapsblock_31_100 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_100 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_103 */
.oct10_mobilegrid_34_103 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_103_wrapper {

}
.oct10_mobilegrid_34_103 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_103_row_0, .oct10_mobilegrid_34_103_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_103_row_1, .oct10_mobilegrid_34_103_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_104 */
.oct10_mobilegridcell_35_104 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_104 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_105 */
.oct10_mobilelabel_39_105 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_106 */
.oct10_mobilegridcell_36_106 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_106 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_107 */
.oct10_mobilelabel_41_107 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_108 */
.oct10_mobilegridcell_37_108 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_108 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_109 */
.oct10_mobilelabel_40_109 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_110 */
.oct10_mobilegridcell_38_110 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_110 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_111 */
.oct10_mobilelabel_42_111 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_112 */
.oct10_mobilelabel_112 {
	text-decoration: underline; font-weight: bold; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_22 */
.oct10_mobilecollapsblock_22 {

}
.oct10_mobilecollapsblock_22 .ui-collapsible-content {
	padding: 4px 4px 4px 4px;
}
/* mobilecollapsblock_31_114 */
.oct10_mobilecollapsblock_31_114 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_114 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_117 */
.oct10_mobilegrid_34_117 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_117_wrapper {

}
.oct10_mobilegrid_34_117 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_117_row_0, .oct10_mobilegrid_34_117_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_117_row_1, .oct10_mobilegrid_34_117_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_118 */
.oct10_mobilegridcell_35_118 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_118 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_119 */
.oct10_mobilelabel_39_119 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_120 */
.oct10_mobilegridcell_36_120 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_120 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_121 */
.oct10_mobilelabel_41_121 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_122 */
.oct10_mobilegridcell_37_122 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_122 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_123 */
.oct10_mobilelabel_40_123 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_124 */
.oct10_mobilegridcell_38_124 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_124 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_125 */
.oct10_mobilelabel_42_125 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_31_130 */
.oct10_mobilecollapsblock_31_130 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_130 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_133 */
.oct10_mobilegrid_34_133 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_133_wrapper {

}
.oct10_mobilegrid_34_133 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_133_row_0, .oct10_mobilegrid_34_133_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_133_row_1, .oct10_mobilegrid_34_133_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_134 */
.oct10_mobilegridcell_35_134 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_134 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_135 */
.oct10_mobilelabel_39_135 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_136 */
.oct10_mobilegridcell_36_136 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_136 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_137 */
.oct10_mobilelabel_41_137 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_138 */
.oct10_mobilegridcell_37_138 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_138 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_139 */
.oct10_mobilelabel_40_139 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_140 */
.oct10_mobilegridcell_38_140 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_140 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_141 */
.oct10_mobilelabel_42_141 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_31_173 */
.oct10_mobilecollapsblock_31_173 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_173 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* mobilegrid_34_176 */
.oct10_mobilegrid_34_176 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.oct10_mobilegrid_34_176_wrapper {

}
.oct10_mobilegrid_34_176 > tr > td {
	vertical-align: top;
}
.oct10_mobilegrid_34_176_row_0, .oct10_mobilegrid_34_176_row_0 > td {
	height: 30px
}
.oct10_mobilegrid_34_176_row_1, .oct10_mobilegrid_34_176_row_1 > td {
	height: 30px
}
/* mobilegridcell_35_177 */
.oct10_mobilegridcell_35_177 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_35_177 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_39_178 */
.oct10_mobilelabel_39_178 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_36_179 */
.oct10_mobilegridcell_36_179 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_36_179 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_41_180 */
.oct10_mobilelabel_41_180 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_37_181 */
.oct10_mobilegridcell_37_181 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_37_181 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_40_182 */
.oct10_mobilelabel_40_182 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38_183 */
.oct10_mobilegridcell_38_183 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.oct10_mobilegridcell_38_183 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_42_184 */
.oct10_mobilelabel_42_184 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_31_143 */
.oct10_mobilecollapsblock_31_143 {
	margin: 4px 2px 4px 2px;
}
.oct10_mobilecollapsblock_31_143 .ui-collapsible-content {
	padding: 2px 2px 2px 2px;
}
/* googlemap_155 */
.oct10_googlemap_155 {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_156 */
.oct10_marker_156 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilefooter1 */
.oct10_mobilefooter1 {
	min-height:38px;
}